absl-py==0.9.0
aio-pika==6.8.0
aiofiles==0.6.0
aiohttp==3.6.3
aiormq==3.3.1
APScheduler==3.6.3
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
boto3==1.17.22
botocore==1.20.22
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
cloudpickle==1.3.0
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.3
cycler==0.10.0
decorator==4.4.2
dnspython==1.16.0
docopt==0.6.2
fbmessenger==6.0.0
future==0.18.2
gast==0.4.0
gevent==1.5.0
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
greenlet==1.0.0
grpcio==1.36.1
h11==0.8.1
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.12.22
httplib2==0.19.0
httptools==0.1.1
httpx==0.9.3
humanfriendly==9.1
hyperframe==5.2.0
idna==2.10
importlib-metadata==3.7.2
jmespath==0.10.0
joblib==1.0.1
jsonpickle==1.4.2
jsonschema==3.2.0
kafka-python==1.4.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.2.2
mattermostwrapper==2.2
multidict==4.7.6
networkx==2.4
numpy==1.19.0
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandas==1.2.3
prompt-toolkit==2.0.10
protobuf==3.15.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.2
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.8.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pyTelegramBotAPI==3.7.6
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2019.3
PyYAML==5.4.1
questionary==1.5.2
rasa==1.10.23
rasa-sdk==1.10.3
redis==3.5.3
regex==2020.6.8
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rocketchat-API==1.3.1
rsa==4.7.2
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.3.4
sanic==19.12.5
Sanic-Cors==0.10.0.post3
sanic-jwt==1.4.1
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.22.2.post1
scipy==1.6.1
six==1.15.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
sniffio==1.2.0
SQLAlchemy==1.3.23
tabulate==0.8.9
tensorboard==2.1.1
tensorflow==2.4.0
tensorflow-addons==0.7.1
tensorflow-estimator==2.1.0
tensorflow-hub==0.8.0
tensorflow-probability==0.9.0
termcolor==1.1.0
terminaltables==3.1.0
tqdm==4.45.0
twilio==6.26.3
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==2.0.3
urllib3==1.26.3
uvloop==0.14.0
wcwidth==0.2.5
webexteamssdk==1.3
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.5.1
zipp==3.4.1
